DEBUG=0 #change to 1 in development to see error messages
SECRET_KEY= #generate long and secure key. keep it secret
ALLOWED_HOSTS=localhost,127.0.0.1 #add your ip and url
SITE_URL= #your url

CELERY_BROKER_URL=redis://redis:6379/0

EMAIL_HOST= #your email host
EMAIL_PORT= #your email port (likely 587)
EMAIL_HOST_USER= #your email host user
EMAIL_HOST_PASSWORD= #your email password
DEFAULT_FROM_EMAIL= #email address from which your emails are sent

CSRF_TRUSTED_ORIGINS= #your url
